* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(4,4,95);
    background-image: url('bg_img.avif') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

#create-account-form {
    width:400px;
    padding:20px;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: #fff;
}

.title {
    background-color: #d8d1d1;   
    padding: 20px;
}

.input-group {
    margin:20px 0; 
    position:relative;
}

.input-group label {
    display:inline-block;
    margin-bottom: 5px;
}

.input-group input {
    display:block;
    width:100%;
    padding:10px;   
}

.error input {
    border:1px red solid;
}

.success input {
    border:1px green solid;
}

 .input-group i {
     position:absolute;
     right:10px;
     top:35px;
     visibility: hidden;
 }


 .success i.fa-check-circle{
     visibility: visible;
     color:green;
 }

 .error i.fa-exclamation-circle {
    visibility: visible;
    color:red;
}


 .input-group p {
     font-size: 13px;
     color:red;
     visibility: hidden;
 }

 .error p {
     visibility: visible;
 }

 .btn {
     width:100%;
     padding:10px;
     font-size: 20px;
     background-color: rgb(4,4,95);
     color:#fff;
     text-transform: uppercase;
     border:none;
 }